

.container{
    height : 100vh;


}


.child1{
    height : 800px;
    /* margin-right: 20px; */
}

.child2{
    min-height : 800px;
    margin-top : 60px;
}

/* Question : why min height is not 800px only why decreasing */